
.App-header__logo {
  height: 5vmin;
  /* margin-bottom: 15px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-header__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2vmin;
  color: white;
}

.App-header__item {
  list-style-type: none;
  margin: 10px 10px 13px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.active {
  padding: 5px;
  background-color: darkslategray;
  font-weight: bold;
}

.App-link:hover {
  text-decoration: underline;
}

.App-link:active {
  color: white;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header_tooltip{
  background-color: silver;
  min-height: 2vh;
  justify-content: flex-center;
  font-size: 1.5vmin;
  color: white;
}
